@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 80px;
  flex-shrink: 0;
  background: #fff;
}

.container-header {
  width: 1090px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 50px;
}
.header-nav-list img {
  margin-right: 81px;
}
.header-nav-list li {
  color: #000;
  font-family: "Montserrat Alternates", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-inf {
  display: flex;
  gap: 51px;
  justify-content: center;
  align-items: center;
  margin-left: 361px;
}
.header-inf .header-inf-items {
  color: #000;
  text-align: right;
  font-family: "Montserrat Alternates", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* From Uiverse.io by juanpabl0svn */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  cursor: pointer;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: #20262c;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #ececd9, -4px 1px 4px 0px #dadada;
  background: var(--background);
  transition: 0.5s;
}

.decoration {
  position: absolute;
  content: "";
  height: 2px;
  width: 2px;
  border-radius: 50%;
  right: 20%;
  top: 15%;
  background: rgba(229, 240, 65, 0.9019607843);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: all 0.5s;
  box-shadow: -7px 10px 0 rgba(229, 240, 65, 0.9019607843), 8px 15px 0 rgba(229, 240, 65, 0.9019607843), -17px 1px 0 rgba(229, 240, 65, 0.9019607843), -20px 10px 0 rgba(229, 240, 65, 0.9019607843), -7px 23px 0 rgba(229, 240, 65, 0.9019607843), -15px 25px 0 rgba(229, 240, 65, 0.9019607843);
}

input:checked ~ .decoration {
  transform: translateX(-20px);
  width: 10px;
  height: 10px;
  background: white;
  box-shadow: -12px 0 0 white, -6px 0 0 1.6px white, 5px 15px 0 1px white, 1px 17px 0 white, 10px 17px 0 white;
}

input:checked + .slider {
  background-color: #5494de;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #efdf2b, 0 0 10px 0px #efdf2b;
}

.container {
  width: 1090px;
  margin: 0 auto;
}

.guess-the-number-paragraph {
  font-family: "Montserrat Alternates", serif;
  margin-top: 36px;
}

.line {
  width: 536px;
  height: 2px;
  border: 1px;
  background-color: #000;
  margin: 0 auto;
}

.enter-number {
  display: flex;
  margin-left: 257px;
  margin-top: 36px;
}
.enter-number__input {
  background-color: #D7D7D7;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 20px;
  color: #7E7E7E;
  padding: 10px;
  font-family: "Montserrat Alternates", serif;
  font-size: 12px;
  box-shadow: 5px 3px 0px 0px rgba(0, 0, 0, 0.25);
}
.enter-number__input:focus {
  outline: none;
}
.enter-number__button {
  position: absolute;
  margin-left: 120px;
  height: 35px;
  width: 35px;
  border-radius: 0px 20px 20px 0px;
  background-color: #000;
  cursor: pointer;
}
.enter-number__img {
  padding-top: 4px;
}

.green-paragraph {
  width: 224px;
  height: 15px;
  color: #039900;
  font-family: "Montserrat Alternates", serif;
  font-size: 12px;
  margin-left: 202px;
}

.red-paragraph {
  width: 275px;
  height: 15px;
  color: #990000;
  font-family: "Montserrat Alternates", serif;
  font-size: 12px;
  margin-left: 202px;
}

.guess-the-number-div {
  display: flex;
  align-items: end;
}

.grey-paragraph {
  width: 224px;
  height: 15px;
  color: #7E7E7E;
  font-family: "Montserrat Alternates", serif;
  font-size: 12px;
  margin-left: 202px;
}

body {
  display: block;
  text-align: center;
  font-family: Arial, sans-serif;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 38px;
  margin: 20px;
}

.choice {
  border: 0;
  background-color: white;
}

.choice:hover {
  cursor: pointer;
}

.heading {
  height: 20px;
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
}

.nachalo {
  margin: auto;
  width: 195px;
  height: 20px;
  top: 543px;
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
}

.text {
  text-align: left;
  display: block;
  width: 95px;
  height: 60px;
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20.4px;
  letter-spacing: 0;
}

#result {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}

.images-stone {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  padding: 10px;
  margin-left: 133px;
}

.images-sciossors {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  padding: 10px;
}

.images-paper {
  border-radius: 20px;
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: black;
}

.variant {
  width: 222px;
  height: 35px;
  top: 746px;
  margin: auto;
  border-radius: 20px;
  padding-top: 9px;
  background-color: black;
  color: white;
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.63px;
  letter-spacing: 0%;
}

.green-text {
  width: 180px;
  height: 15px;
  margin: auto;
  margin-bottom: 40px;
  font-family: "Montserrat Alternates", serif;
  font-size: 12px !important;
  font-weight: 400 !important;
  color: green;
}

.red-text {
  width: 239px;
  height: 15px;
  margin: auto;
  margin-bottom: 40px;
  font-family: "Montserrat Alternates", serif;
  font-size: 12px !important;
  font-weight: 300 !important;
  color: red;
}

.gray-text {
  width: 120px;
  height: 15px;
  margin: auto;
  margin-bottom: 40px;
  font-size: 12px !important;
  font-family: "Montserrat Alternates", serif;
  font-weight: 400 !important;
  color: gray;
}

.time-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time-calculator__title {
  text-align: center;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 16px;
}
.time-calculator__div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.time-calculator__input {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
  background-color: #d7d7d7;
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 35px;
  padding: 10px 15px;
}
.time-calculator__input::-webkit-outer-spin-button, .time-calculator__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.time-calculator__input:focus {
  outline: none;
}
.time-calculator__button {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: #000;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}
.time-calculator__button:hover {
  background: #333;
}
.time-calculator__separator {
  width: 100px;
  border-bottom: 1px dashed black;
}
.time-calculator__output {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  margin-left: 10px;
}

.football {
  margin-top: 36px;
  align-items: center;
  justify-content: center;
}

.football-text {
  margin-top: 36px;
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.football-area {
  margin-top: 36px;
  width: 720px;
  height: 220px;
  background-color: #5ABB58;
  border: black 2px solid;
  border-radius: 37px;
  display: block;
  margin: 0 auto;
}

.container-footer {
  width: 1440px;
  margin: 0 auto;
  height: 202px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.footer {
  display: flex;
  gap: 185px;
  align-content: center;
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
}
.footer .footer-img {
  width: 164px;
  height: 75px;
  margin-top: 75px;
  margin-left: 175px;
}

.footer-inf {
  text-align: left;
  height: 100px;
  width: 250px;
  margin-top: 61px;
  font-size: 12px;
  line-height: 20px;
}

.footer-reg {
  height: 60px;
  padding-top: 97px;
}
.footer-reg input {
  width: 204px;
  height: 35px;
  background-color: #D7D7D7;
  border-radius: 20px;
  border: none;
  font-size: 12px;
  line-height: 14px;
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
}
.footer-reg input::-moz-placeholder {
  padding-left: 10px;
  color: #7E7E7E;
}
.footer-reg input::placeholder {
  padding-left: 10px;
  color: #7E7E7E;
}
.footer-reg button {
  width: 107px;
  height: 35px;
  margin-left: 36px;
  border: none;
  border-radius: 20px;
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  line-height: 14px;
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
}
.footer-reg .footer-reg-text {
  font-size: 6px;
  line-height: 7px;
  padding-top: 18px;
  text-align: left;
}

body {
  padding-top: 116px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-background {
  width: 1090px;
  height: 3202px;
  flex-shrink: 0;
  background: #fff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.dark-theme {
  background-color: black;
  color: white;
}

.light-theme {
  background-color: white;
  color: black;
}/*# sourceMappingURL=main.css.map */