@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
          user-select: none;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1090px;
  margin: 0 auto;
  outline: 1px solid red;
}

.guess-the-number-paragraph {
  font-family: "Montserrat Alternates", serif;
  margin-top: 36px;
}

.line {
  width: 536px;
  height: 2px;
  border: 1px;
  background-color: #000;
  margin: 0 auto;
}

.enter-number {
  display: flex;
  margin-left: 257px;
  margin-top: 36px;
}
.enter-number__input {
  border-radius: 20px;
}

body {
  display: block;
  text-align: center;
  font-family: Arial, sans-serif;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 38px;
  margin: 20px;
}

.choice {
  border: 0;
  background-color: white;
}

.nachalo {
  margin: auto;
  width: 195px;
  height: 20px;
  top: 543px;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0%;
}

.text {
  text-align: left;
  display: block;
  width: 80px;
  height: 60px;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 20.4px;
  letter-spacing: 0;
}

#result {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}

.images-stone {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  padding: 10px;
  margin-left: 120px;
}

.images-sciossors {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  padding: 10px;
}

.images-paper {
  border-radius: 20px;
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: black;
}

.variant {
  width: 222px;
  height: 35px;
  top: 746px;
  margin: auto;
  border-radius: 20px;
  padding-top: 9px;
  background-color: black;
  color: white;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 14.63px;
  letter-spacing: 0%;
}

.green-text {
  width: 180px;
  height: 15px;
  margin: auto;
  margin-bottom: 40px;
  font-family: "Montserrat Alternates";
  font-size: 12px !important;
  font-weight: 400 !important;
  color: green;
}

.red-text {
  width: 239px;
  height: 15px;
  margin: auto;
  margin-bottom: 40px;
  font-family: "Montserrat Alternates";
  font-size: 12px !important;
  font-weight: 300 !important;
  color: red;
}

.gray-text {
  width: 120px;
  height: 15px;
  margin: auto;
  margin-bottom: 40px;
  font-size: 12px !important;
  font-family: "Montserrat Alternates";
  font-weight: 400 !important;
  color: gray;
}

.football {
  margin-top: 36px;
  align-items: center;
  justify-content: center;
}

.football-text {
  margin-top: 36px;
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.football-area {
  margin-top: 36px;
  width: 720px;
  height: 220px;
  background-color: #5ABB58;
  border: black 2px solid;
  border-radius: 37px;
  display: block;
  margin: 0 auto;
}

.container {
  width: 1440px;
  margin: 0 auto;
  height: 202px;
  outline: 1px solid red;
}

footer {
  display: flex;
  gap: 185px;
  align-content: center;
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
}
footer .footer-img {
  width: 164px;
  height: 75px;
  margin-top: 75px;
  margin-left: 175px;
}

.footer-inf {
  text-align: left;
  height: 100px;
  width: 207px;
  margin-top: 61px;
  font-size: 12px;
  line-height: 20px;
}

.footer-reg {
  height: 60px;
  padding-top: 97px;
}
.footer-reg input {
  width: 204px;
  height: 35px;
  background-color: #D7D7D7;
  border-radius: 20px;
  border: none;
  font-size: 12px;
  line-height: 14px;
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
}
.footer-reg input::-moz-placeholder {
  padding-left: 10px;
  color: #7E7E7E;
}
.footer-reg input::placeholder {
  padding-left: 10px;
  color: #7E7E7E;
}
.footer-reg button {
  width: 107px;
  height: 35px;
  margin-left: 36px;
  border: none;
  border-radius: 20px;
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  line-height: 14px;
  font-family: "Montserrat Alternates", serif;
  font-weight: 400;
}
.footer-reg .footer-reg-text {
  font-size: 6px;
  line-height: 7px;
  padding-top: 18px;
  text-align: left;
}/*# sourceMappingURL=main.css.map */