<!-- section Yaroslav -->
<div class="calculator-night">
  <div class="vector__calculator"></div>
  <h1 class="calculator__title">Калькулятор</h1>
  <div class="calculator__container" id="calculator">
    <input class="input__calculator" type="text" id="first-input" placeholder="Введіть число">
    <ul class="button__list">
      <li class="button__element">
        <button class="button__calculator" type="button" id="plus">+</button>
      </li>
      <li class="button__element">
        <button class="button__calculator" type="button" id="minus">-</button>
      </li>
      <li class="button__element">
        <button class="button__calculator" type="button" id="multiply">*</button>
      </li>
      <li class="button__element">
        <button class="button__calculator" type="button" id="division">/</button>
      </li>
    </ul>
    <input class="input__calculator" type="text" id="second-input" placeholder="Введіть число">
    <button class="ebutton__calculator" type="button" id="equals">
      =
    </button>
    <p class="calc__result" id="result-p"></p>
  </div>
</div>