<!-- section Maksym -->

<div class="container-scientists">

 <h2>Обери вченого/их</h2>

    <ul class="scientist-blocks">   

    </ul>

    <ul class="labels-blocks">
        <li>Які вчені народилися в 19 ст.</li>
        <li>Знайти рік народження Albert Einshtein</li>
        
        <li>Відсортувати вчених за алфавітом</li>
        <li>Знайти вчених, прізвища яких починаються на на літеру “С”</li>

        <li>Відсортувати вчених за кількістю прожитих років</li>
        <li>Видалити всіх вчених, ім’я яких починається на “А”</li>

        <li>Знайти вченого, який народився найпізніше</li>
        <li>Знайти вченого, який прожив найдовше і вченого, <br> який прожив найменше</li>

        <li>Знайти вчених, в яких співпадають перші літери імені і прізвища</li>
    </ul>
</div>