<!-- section Maksym -->

<div class="container-scientists">

    <h2>Обери вченого/их</h2>

    <ul class="scientist-blocks">

    </ul>

    <ul class="labels-blocks">
        <li id="19-st-born">Які вчені народилися в 19 ст.</li>
        <li id="albert-birth-year">Знайти рік народження Albert Einshtein</li>

        <li id="sort-alfabet">Відсортувати вчених за алфавітом</li>
        <li id="start-with-c">Знайти вчених, прізвища яких починаються на на літеру “С”</li>

        <li id="sort-years">Відсортувати вчених за кількістю прожитих років</li>
        <li id="delete-start-with-a">Видалити всіх вчених, ім’я яких починається на “А”</li>

        <li id="youngest">Знайти вченого, який народився найпізніше</li>
        <li id="lived-longest">Знайти вченого, який прожив найдовше і вченого, <br> який прожив найменше</li>

        <li id="starts-with-simmiar-letters">Знайти вчених, в яких співпадають перші літери імені і прізвища</li>
    </ul>
</div>