<!-- section Nastia Pogorelova -->
<section class="container-footer">
    <div class="footer">
        <img class="footer-img"  src="./img/footer-img/Group1.svg" alt="logo">
        <div class="footer-inf">
            <ul>
                <li>Тел: <a href="tel:+38 (123) 456 78 90">+38 (123) 456 78 90</a></li>
                <li>E-Mail: <a href="mailto:codingmagic@gmail.com" target="_blank">codingmagic@gmail.com</a></li>
                <li>Facebook: CodingMagic</li>
                <li>Twitter: CodingMagic</li>
                <li>Instagram: CodingMagic</li>
            </ul>
        </div>
        <div class="footer-reg">
            <input type="text" placeholder="Ваша ел. адреса..." id="">
            <button>Підписатись</button>
            <p class="footer-reg-text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
        </div>
    </div>
</section>