<!-- section Tymur -->
<div class="top-line"></div>
<div>
    <h3 class="h3">Google динозавр</h3>
</div>
<div class="container">
    <button class="start-btn" id="start-btn">Play Game</button>
    <div class="game-container" id="game-container">
        <div><img src="/src/img/google-dinosaur-img/динозавр.png" class="dino" id="dino" alt=""></div>
        <div><img src="/src/img/google-dinosaur-img/кактус.png" class="obstacle" id="obstacle" alt=""></div>
        <div class="ground"></div>
        <div class="score" id="score">Score: 0</div>
    </div>