<!-- section Tymur -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/sass/components/_google-dinosaur.scss">
</head>

<body>
    <div class="top-line"></div>
    <div><h3 class="h3" style=" font-family: "Abril Fatface", serif;">Google динозавр</h3></div>
    <div class="container">
    <button class="start-btn" id="start-btn">Play Game</button>
    <div class="game-container" id="game-container">
        <div><img src="/src/img/google-dinosaur-img/динозавр.png" class="dino" id="dino" alt=""></div>
        <div><img src="/src/img/google-dinosaur-img/кактус.png" class="obstacle" id="obstacle" alt=""></div>
        <div class="ground"></div>
        <div class="score" id="score">Score: 0</div>
</div>

    <script src="/src/js/google-dinosaur.js"></script>
</body>

</html>