<!-- section Svedova -->
<section class="guess-the-number-section container">
    <div class="line"></div>
    <p class="guess-the-number-paragraph">Вгадай число, яке загадав комп’ютер</p>
    <div class="guess-the-number-div">
        <form action="" class="enter-number">
            <input type="number" id="number" placeholder="Введіть число" class="enter-number__input" min="1" max="10"><button
                class="enter-number__button" id="guess-button"><img src="./img/guess-the-number/magnifying-glass.svg"
                    alt="magnifying-glass" class="enter-number__img"></button>
        </form>
        <p class="resultat" id="resultat"></p>
    </div>
</section>