<!-- section Maksym -->

<div class="container-header">
  <nav class="nav-bar">
    <img src="./img/header-img/header-logo.svg" alt="logo" />
    <ul class="header-nav-list">
      <li class="header-nav-list-item">
        <select class="form-select" aria-label="Інтерактив">
          <option value="1">Числовий</option>
          <option value="2">Ігровий</option>
          <option value="3">Ознайомчий</option>
        </select>
      </li>
      <li class="header-nav-list-item">
        <a href="#">Наша команда</a>
      </li>
      <li class="header-nav-list-item">
        <a href="#">Контакти</a>
      </li>
    </ul>
    <ul class="header-inf">
      <li class="header-inf-items">
        <!-- Rejected -->
        <!-- <label for="switch" class="switch">
          <input id="switch" type="checkbox" />
          <span class="slider"></span>
          <span class="decoration"></span>
        </label> -->
      </li>
      <li class="header-inf-items">
        Вітаємо, <span id="user-name">User</span>
      </li>
    </ul>
  </nav>
</div>
