<!-- section Maksym -->

<div class="container-header">
  <nav class="nav-bar">
    <img src="./img/header-img/header-logo.svg" alt="logo" />
    <ul class="header-nav-list">
      <li class="header-nav-list-item arrow-after">Інтерактив</li>
      <li class="header-nav-list-item">Наша команда</li>
      <li class="header-nav-list-item">Контакти</li>
    </ul>
    <ul class="header-inf">
      <li class="header-inf-items">
        <!-- From Uiverse.io by juanpabl0svn -->
        <label for="switch" class="switch theme-switcher">
          <input id="switch" type="checkbox" />
          <span class="slider"></span>
          <span class="decoration"></span>
        </label>
      </li>
      <li class="header-inf-items">
        Вітаємо, <span id="user-name">User</span>
      </li>
    </ul>
  </nav>
</div>
