<!-- section Julia | Made by Maksym -->

<section id="leap-year__section">
    <div class="container">
        <div class="cheak-age-night">
            <h1 class="games__leap">Популярні інетрактивні ігри</h1>
        <div class="vector__leap"></div>
        <h1 class="title__leap">Перевір в який рік ти народився</h1>
        <div class="leap__list">
            <input class="input__leap"  type="text" placeholder="Введіть рік народження" id="leap-input">
            <button class="input-but__leap" type="button">
                <svg class="leap-year__svg">
                    <use href="./images/check-the-born-year/check-your-born-year.svg#icon-dandruff"></use>
                </svg>
            </button>
            <p class="yesNo__leap" id="yes-no-leap">

            </p>
        </div>
        </div>
    </div>
</section>