<!-- section Illia | Made by Danylo-->
<div class="backdrop-page">
  <form class="backdrop-page__modal-background">
    <button class="backdrop-page__close" type="button">
      <img src="./img/modal-hello/button-close.svg" alt="button-close">
    </button>
    <p class="backdrop-page__paragraph">Привіт!<br>
      Ви потрапили на сайт інтерактивних ігор та завдань<br>
      Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>
      Бажаємо Вам гарно провести час!</p>
    <p class="backdrop-page__your-name">Введіть своє ім’я:</p>
    <input type="text" placeholder="Ваше ім’я..." class="backdrop-page__input">
    <br>
    <button type="button" class="backdrop-page__save">Зберегти</button>
    <img src="./img/modal-hello/sword.svg" alt="sword" class="backdrop-page__img backdrop-page__first-img">
    <img src="./img/modal-hello/game-development.svg" alt="game-development" class="backdrop-page__img backdrop-page__second-img">
    <img src="./img/modal-hello/puzzle.svg" alt="puzzle" class="backdrop-page__img backdrop-page__third-img">
    <img src="./img/modal-hello/tic-tac-toe.svg" alt="tic-tac-toe" class="backdrop-page__img backdrop-page__forth-img">
  </form>
</div>