<!-- section Malyk -->
<div class="carousel-container">
  <div class="divider"></div>
  <h3 class="our-team">Наша команда</h3>

  <div id="teamCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./img/our-team-img/Dima.jpg" alt="Dmytrii" class="team-member">
        <h5 class="carousel-item__title">Dmytrii Beresten</h5>
        <p class="carousel-item__paragraph">Teacher, Assistant, Chill guy😎</p>
      </div>
      <div class="carousel-item">
        <img src="./img/our-team-img/Maxim.jpg" alt="Maxim" class="team-member">
        <h5 class="carousel-item__title">Maxim Durikhin</h5>
        <p class="carousel-item__paragraph">Team lead, Responsible, Developer, Chill guy😎</p>
      </div>
      <div class="carousel-item">
        <img src="./img/our-team-img/Malyk.jpg" alt="Danylo" class="team-member">
        <h5 class="carousel-item__title">Danylo Malyk</h5>
        <p class="carousel-item__paragraph">Tech lead, Developer, Chill guy😎</p>
      </div>
      <div class="carousel-item">
        <img src="./img/our-team-img/Svedova.jpg" alt="Anastasia" class="team-member">
        <h5 class="carousel-item__title">Anastasia Shvedova</h5>
        <p class="carousel-item__paragraph">Scrum master, Developer, Chill girl💄👠</p>
      </div>
      <div class="carousel-item">
        <img src="./img/our-team-img/Pogorelova.jpg" alt="Anastasia" class="team-member">
        <h5 class="carousel-item__title">Anastasia Pogorelova</h5>
        <p class="carousel-item__paragraph">Developer, Chill girl💄👠</p>
      </div>
      <div class="carousel-item">
        <img src="./img/our-team-img/Yaroslav.jpg" alt="Roman" class="team-member">
        <h5 class="carousel-item__title">Yaroslav</h5>
        <p class="carousel-item__paragraph">Develope, Chill guy😎</p>
      </div>
      <div class="carousel-item">
        <img src="./img/our-team-img/Mariam.jpg" alt="Mariam" class="team-member">
        <h5 class="carousel-item__title">Mariam</h5>
        <p class="carousel-item__paragraph">Developer, Chill girl💄👠</p>
      </div>
      <div class="carousel-item">
        <img src="./img/our-team-img/Ulia.jpg" alt="Ulia" class="team-member">
        <h5 class="carousel-item__title">Ulia Hryshina</h5>
        <p class="carousel-item__paragraph">Developer, Chill girl💄👠</p>
      </div>
      <div class="carousel-item">
        <img src="./img/our-team-img/Eduard.jpg" alt="Eduard" class="team-member">
        <h5 class="carousel-item__title">Eduard Kazyuk</h5>
        <p class="carousel-item__paragraph">Developer, Chill guy😎</p>
      </div>
      <div class="carousel-item">
        <img src="./img/our-team-img/Illia.jpg" alt="Illia" class="team-member">
        <h5 class="carousel-item__title">Illia Pozdnyakov</h5>
        <p class="carousel-item__paragraph">developer, Chill guy😎</p>
      </div>
      <div class="carousel-item">
        <img src="./img/our-team-img/Stasiv.jpg" alt="Danylo" class="team-member">
        <h5 class="carousel-item__title">Danylo Stasiv</h5>
        <p class="carousel-item__paragraph">Developer, Chill guy😎</p>
      </div>
      <div class="carousel-item">
        <img src="./img/our-team-img/Anton.jpg" alt="Anton" class="team-member">
        <h5 class="carousel-item__title">Anton</h5>
        <p class="carousel-item__paragraph">Developer, Chill guy😎</p>
      </div>
      <div class="carousel-item">
        <img src="./img/our-team-img/Roman.jpg" alt="Roman" class="team-member">
        <h5 class="carousel-item__title">Roman Korniec</h5>
        <p class="carousel-item__paragraph">Develope, Chill guy😎</p>
      </div>
      <div class="carousel-item">
        <img src="./img/our-team-img/Tymur.jpg" alt="Roman" class="team-member">
        <h5 class="carousel-item__title">Tymur</h5>
        <p class="carousel-item__paragraph">Develope, Chill guy😎</p>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#teamCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#teamCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>

    <div class="carousel-indicators">
      <div class="active" data-bs-target="#teamCarousel" data-bs-slide-to="0"></div>
      <div data-bs-target="#teamCarousel" data-bs-slide-to="1"></div>
      <div data-bs-target="#teamCarousel" data-bs-slide-to="2"></div>
      <div data-bs-target="#teamCarousel" data-bs-slide-to="3"></div>
      <div data-bs-target="#teamCarousel" data-bs-slide-to="4"></div>
      <div data-bs-target="#teamCarousel" data-bs-slide-to="5"></div>
      <div data-bs-target="#teamCarousel" data-bs-slide-to="6"></div>
    </div>
  </div>
</div>