<!-- section Eduard -->
<div class="line"></div>
<h1 class="heading">Камінь - Ножиці - Папір</h1>
<div class="choices">
        <button class="choice" id="rock-button"><img class="images-stone"
                        src="./img/rock-paper-scissors/stone.svg" alt="rock"></button>
        <button class="choice" id="scissors-button"><img class="images-sciossors"
                        src="./img/rock-paper-scissors/scissors.svg" alt=""></button>
        <button class="choice" id="paper-button" onclick="playGame('папір')"><img class="images-paper"
                        src="./img/rock-paper-scissors/paper.svg" alt="paper"></button>
        <div class="">
                <p class="text">Рахунок:
                        Комп'ютер - <span id="comp-score-text">0</span>
                        Ви - <span id="user-score-text">0</span></p>

        </div>
</div>

<p class="resultat" id="winOrLose"></p>
<p class="variant" id="computer-variant">Варіант комп’ютера</p>