<!-- section Eduard -->
<h1 class="nachalo">Камінь - Ножиці - Папір</h1>
<div class="choices">
    <button class="choice" onclick="playGame('камінь')"><img class="images-stone"
            src="../img/rock-paper-scissors/stone.svg" alt=""></button>
    <button class="choice" onclick="playGame('ножиці')"><img class="images-sciossors"
            src="../img/rock-paper-scissors/scissors.svg" alt=""></button>
    <button class="choice" onclick="playGame('папір')"><img class="images-paper"
            src="../img/rock-paper-scissors/paper.svg" alt=""></button>
    <div class="">
        <p class="text">Рахунок:
            Комп'ютер - <span id="computer-score">0</span>
            Ви - <span id="user-score">0</span></p>

    </div>
</div>

<p class="resultat" id="result"></p>
<p class="variant" id="computer-choice">Варіант комп’ютера</p>