<!-- section Stasiv -->
<div class="three-numbers-night">
    <div class="line__hn"></div>
    <h1 class="highest-number__title">Введіть три числа</h1>
    <ul class="input-num__list">
        <input class="input-num__calculator" type="text" placeholder="Введіть число" id="one-input">
        <input class="input-num__calculator" type="text" placeholder="Введіть число" id="two-input">
        <input class="input-num__calculator" type="text" placeholder="Введіть число" id="three-input">
    </ul>
    <p class="highest-number__text" id="time-result">Найбільше число, яке ви ввели -</p>
</div>