<!-- section Roman -->
<section class="section-calculator">
    <div class="time-calculator">
        <div class="time-calculator__line"></div>

        <h3 class="time-calculator__title">Калькулятор часу</h3>
        <div class="time-calculator__div">
            <input type="number" step="1" min="0" placeholder="Введіть число" class="time-calculator__input">
            <button class="time-calculator__button"><img src="./img/time-converter/glass.svg" alt="лупа"></button>
            <div class="time-calculator__separator"></div>
            <p class="time-calculator__output"></p>
        </div>
    </div>
</section>