// section pohorielova // 
.football{
    margin-top: 36px;
    align-items: center ;
    justify-content: center;
    
    
}
.football-text{
    margin-top: 36px;
    font-family: $Montserrat-fonts;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}
.football-area{
    margin-top: 36px;
    width: 720px;
    height: 220px;
    background-color:$football-color;
    border: black 2px solid ;
    border-radius: 37px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.ball {
    transition: transform 0.5s ease;
    position: absolute;
}

