// section Maksym //

header {
  padding: 20px;
  width: 100%;
  height: 80px;
  flex-shrink: 0;

  background: $white-color;
}

.container-header {
  width: 1090px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.header-nav-list {
  margin: 0;
  display: flex;
  gap: 50px;

  img {
    margin-right: 81px;
  }

  li {
    color: $black-color;
    font-family: $Montserrat-fonts;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.form-select {
  flex-shrink: 0;
  width: 160px;
  outline: none;
  border: none;

  color: $black-color;
  font-family: $Montserrat-fonts;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  option {
    border-right: 1px solid $black-color;
    border-left: 1px solid $black-color;
    background: #F1F1F1;
  }

}


.hello-user {
  margin: auto 0 auto 400px;
  color: $black-color;
  text-align: right;
  font-family: $Montserrat-fonts;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}