// section Mariam // 
.footer-backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 1000ms;
  z-index: 1000;
}

.footer-backdrop__background-modal {
  position: absolute;
  width: 463px;
  height: 245px;
  background-color: $white-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.footer__is-hidden {
  opacity: 0;
  pointer-events: none;
}

.footer-backdrop__close {
  width: 30px;
  height: 30px;
  border: none;
  background-color: $white-color;
  border-radius: 50%;
  margin-left: 400px;
  margin-top: 30px;
}

.footer-backdrop__close-svg {
  width: 15px;
  height: 15px;
  fill: $black-color;
}

.footer-backdrop__close .footer-backdrop__close-svg {
  position: relative;
  transition: transform 1s;
}

.footer-backdrop__title {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

// .footer-backdrop__background {
//   width: 378px;
//   height: 106px;
//   margin-left: 43px;
//   margin-bottom: 20px;
// }
