// section Roman //
.time-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;

  &__line {
    width: 50%;
    height: 1px;
    margin: 36px 0;
    background-color: #000;
  }

  &__title {
    padding-bottom: 36px;
    margin-top: 0;
    text-align: center;
    font-family: 'Montserrat Alternates';
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__input {
    font-family: 'Montserrat Alternates';
    font-weight: 400;
    font-size: 12px;
    color: #7e7e7e;
    background-color: #d7d7d7;
    border: none;
    border-radius: 20px;
    width: 100%;
    max-width: 150px;
    height: 35px;
    padding: 10px 35px 10px 15px;
    box-sizing: border-box;
    box-shadow: 7px 4px 1px #00000040;
    transition: box-shadow 0.3s ease;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
  }

  &__button {
    margin-left: -30px;
    height: 35px;
    width: 35px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
    outline: none;

    &:hover {
      background: #333;
    }

    img {
      max-width: 60%;
      max-height: 60%;
      transition: transform 0.5s ease-in-out;
    }

    &:hover img {
      transform: rotate(360deg);
    }

    &:focus img {
      animation: focus 1s forwards;
    }
  }

  &__separator {
    margin: 20px;
    width: 100px;
    border-bottom: 1px dashed black;
  }

  &__output {
    font-family: 'Montserrat Alternates';
    font-weight: 400;
    font-size: 12px;
    margin-left: 10px;
  }
}

@keyframes focus {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 500px) {
  .time-calculator__title {
    padding-bottom: 10px;
  }
  .time-calculator__div {
    flex-direction: column;
    align-items: stretch;
  }

  .time-calculator__input {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 10px 15px;
  }

  .time-calculator__separator {
    display: none;
  }

  .time-calculator__button {
    margin-left: 0;
    width: 100%;
    border-radius: 20px;
  }
}